
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style sheet/style.css' %}">
    
</head>
<body>
{% if tickets %}
    <div id="tickets_historicos_tabla">
        <table>
            <div>
                <thead id="cabecera_de_tabla_tickets">
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>USUARIO</th>
                    <th>CONCEPTO</th>
                    <th>EMPRESA</th>
                    <th>LEGAJO</th>
                    <th>NOMBRE AGENTE</th>
                    <th>OBSERVACIONES</th>
                    <th>ESTADO TICKET</th>
                </tr>
            </thead>
            </div>
            
            <tbody>
                {% for ticket in tickets %}
                    <div >
                        <tr class="ticket_row">
                            <td>{{ ticket.id_ticket }}</td>
                            <td>{{ ticket.fecha_liquidaciones }}</td>
                            <td>{{ ticket.usuario }}</td>
                            <td>{{ ticket.concepto }}</td>
                            <td>{{ ticket.empresa }}</td>
                            <td>{{ ticket.legajo }}</td>
                            <td>{{ ticket.nombre }}</td>
                            <td>{{ ticket.observaciones }}</td>
                            <td>{{ ticket.estado_liquidaciones }}</td>
                        </tr>
                        
                    </div>
                {% endfor %}
            </tbody>
        </table>
{% else %}
            <p>NO SE ENCONTRARON TICKETS EN ESE PERIODO</p>
            <p>REVISAR CAMPOS DE MES Y AÑO</p>
{% endif %}
        <div><button id="volver_tabla_tickets">Volver</button></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'javascript/consulta.js' %}"></script>
</body>
</html>