{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style sheet/style.css' %}">
    
</head>
<body>
<div id="nav_var">
    <div id="titulo_principal"><h2>CONSULTAS EN HISTORICO DE TICKETS</h2></div>    
    <div><button id="ticketera_btn"> Volver a ticketera </button></div>  
    <div><button id="cerrar_sesion_btn"> Cerrar Sesion </button></div>
    
</div>

<div id="consulta_tickets_historicos">
    
    <div class="contenedor_ventana">
        <h3 class="titulo_pantalla_emergente">FILTRAR TICKETS POR MES Y AÑO</h3>
        <h5 class="titulo_pantalla_emergente">Ejemplos de meses correctos: "03", "08", "11".</h5>
        <form class="contenedor_columna">
            {% csrf_token %}

            <div class="contenedor_fila">
                <span>Mes</span>
                <input type="text" id="mes" name="Mes" placeholder="mes">
            </div>

            <div class="contenedor_fila">
                <span>Año</span>
                <input type="text" id="año" name="Año" placeholder="año">
            </div>

        </form>
        <div>
            <button type="submit" id="filtrar_tickets_btn">Filtrar</button>
        </div>
    </div>
</div>


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'javascript/historico.js' %}"></script>
</body>
</html>

