{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style sheet/style.css' %}">
    
</head>
<body>
    
    <div id="nav_var">
        <div id="titulo_principal"><h2>Sistema de Tickets</h2></div>    
        <div><button id="historico_tickets_btn"> Ir a histórico de tickets </button></div>
        <div><h3 id="usuario_logueado">Usuario: {{ usuario_logueado }}</h3></div>
        <div><h3 id="usuario_logueado">Fecha de liquidación: mes {{ mes_liquidacion }} del año {{ año_liquidacion }}</h3></div>
        <div><button id="cerrar_sesion_btn"> Cerrar Sesion </button></div>
        
    </div>
    {% if tickets %}
    <table id="tickets">
        <div>
            <thead id="cabecera_de_tabla_tickets">
            <tr>
                <th>ID</th>
                <th>FECHA</th>
                <th>USUARIO</th>
                <th>CONCEPTO</th>
                <th>EMPRESA</th>
                <th>LEGAJO</th>
                <th>NOMBRE AGENTE</th>
                <th>OBSERVACIONES</th>
                <th>ESTADO TICKET</th>
            </tr>
        </thead>
        </div>
        
        <tbody>
            {% for ticket in tickets %}
                <div >
                    <tr class="ticket_row">
                        <td>{{ ticket.id_ticket }}</td>
                        <td>{{ ticket.fecha_liquidaciones }}</td>
                        <td>{{ ticket.usuario }}</td>
                        <td>{{ ticket.concepto }}</td>
                        <td>{{ ticket.empresa }}</td>
                        <td>{{ ticket.legajo }}</td>
                        <td>{{ ticket.nombre }}</td>
                        <td>{{ ticket.observaciones }}</td>
                        <td>{{ ticket.estado_liquidaciones }}</td>
                        <td class="row_modificar_btn"><button>Modificar</button></td>
                        <td class="row_eliminar_btn"><button>Eliminar</button></td>
                    </tr>
                </div>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>NO HAY TICKETS PARA MOSTRAR.</p>
{% endif %}

<button id="nuevo_ticket_btn">Nuevo Ticket</button>

<div id="modal" class="ventana_emergente">
    
    <div class="contenedor_ventana">
        <h3 class="titulo_pantalla_emergente">CREAR NUEVO TICKET</h3>
        <form id="entryForm" class="contenedor_columna">
            {% csrf_token %}


            <div class="contenedor_fila">
                <span>Concepto</span>
                <input type="number" id="concepto" name="Concepto" placeholder="Concepto">
            </div>

            <div class="contenedor_fila">
                <span>Empresa</span>
                <input type="text" id="empresa" name="Empresa" placeholder="Empresa">
            </div>

            <div class="contenedor_fila">
                <span>Legajo</span>
                <input type="number" id="legajo" name="Legajo" placeholder="Legajo">
            </div>

            <div class="contenedor_fila">
                <span>Nombre</span>
                <input type="text" id="nombre" name="Nombre" placeholder="Nombre">
            </div>

            <div class="contenedor_fila">
                <span>Observaciones</span>
                <input type="text" id="observaciones" name="Observaciones" placeholder="Observaciones">
            </div>

        </form>
        <div>
            <button type="submit" id="aceptar_nuevo_ticket_btn">Aceptar</button>
            <button type="submit"id="cancelar_nuevo_ticket_btn">Cancelar</button>
        </div>
    </div>
</div>

<div id="modificar_ticket_pantalla" class="ventana_emergente">
    <div class="contenedor_ventana">
        <h3 class="titulo_pantalla_emergente">MODIFICAR TICKET PANTALLA</h3>
        <form id="ticket_informacion" class="contenedor_columna">
            {% csrf_token %}

            <div class="contenedor_fila">
                <span>Concepto</span>
                <input class="input_form" type="number" id="concepto_modificar" name="Concepto" placeholder="Concepto">
            </div>

            <div class="contenedor_fila">
                <span>Empresa</span>
                <input class="input_form" type="text" id="empresa_modificar" name="Empresa" placeholder="Empresa">
            </div>

            <div class="contenedor_fila">
                <span>Legajo</span>
                <input class="input_form"  type="number" id="legajo_modificar" name="Legajo" placeholder="Legajo">
            </div>

            <div class="contenedor_fila">
                <span> Nombre Agente</span>
                <input class="input_form" type="text" id="nombre_modificar" name="Nombre" placeholder="Nombre">
            </div>

            <div class="contenedor_fila">
                <span> Observaciones </span>
                <input class="input_form" type="text" id="observaciones_modificar" name="Observaciones" placeholder="Observaciones">
            </div>

            <div class="contenedor_fila">
                <span> Estado Ticket </span>
                <input class="input_form" type="text" id="estado_liquidaciones_modificar" name="estado_liquidaciones" placeholder="Estado">
            </div>

    

        </form>
        <div>
            <button type="submit"id="aceptar_cambios_btn">Aceptar</button>
            <button type="submit"id="cancelar_cambios_btn">Cancelar</button>
        </div>
    </div>
</div>

<div id="eliminar_ticket_pantalla" class="ventana_emergente">
    <div class="contenedor_ventana">
        <h3 class="titulo_pantalla_emergente">¿DESEA ELIMINAR EL TICKET?</h3>
        <button type="submit"id="aceptar_eliminar_ticket_btn">Aceptar</button>
        <button type="submit"id="cancelar_eliminar_ticket_btn">Cancelar</button>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'javascript/script.js' %}"></script>
</body>
</html>

