{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style sheet/style.css' %}">
    
</head>
<body>
<h1 class="titulo_pantalla_emergente">SISTEMA DE TICKETS</h1>
<div>
    <div id="iniciar_sesion_pantalla" class="contenedor_ventana">
        
        <h3 class="titulo_pantalla_emergente">INICIAR SESION</h3>
        <form>
            {% csrf_token %}
            <div class="contenedor_columna">
                <div><input class="input_form" type="text" id="usuario_login" name="Usuario" placeholder="Usuario"></div>
                <div><input class="input_form" type="password" id="contraseña_login" name="Empresa" placeholder="Contraseña"></div>                
            </div>
        </form>
        <div>
            <button type="submit"id="iniciar_sesion_btn">Iniciar sesion</button>
            <button type="submit"id="crear_cuenta_btn">Crear usuario</button>
        </div>
    </div>
</div>

<div id="crear_nuevo_usuario" class="ventana_emergente"> 
    
    <div class="contenedor_ventana">
        <h3 class="titulo_pantalla_emergente">CREAR NUEVO USUARIO</h3>
        <form  class="contenedor_columna">
            {% csrf_token %}

            <div class="contenedor_fila">
                <span>Usuario</span>
                <input type="text" id="usuario_nuevo" name="Usuario" placeholder="usuario">
            </div>

            <div class="contenedor_fila">
                <span>Contraseña</span>
                <input type="password" id="contraseña_nuevo" name="Contraseña" placeholder="contraseña">
            </div>

            <div class="contenedor_fila">
                <span>Email</span>
                <input type="text" id="email_nuevo" name="Email" placeholder="email">
            </div>
        </form>
        <div>
            <button type="submit" id="aceptar_nuevo_usuario_btn">Aceptar</button>
            <button type="submit"id="cancelar_nuevo_usuario_btn">Cancelar</button>
        </div>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'javascript/login.js' %}"></script>
</body>
</html>

